

<div class = "ans-center">

<h1>Stupid Coaching</h1>

<div class = "ask-style">
<div class="question"> <%= @question %>  </div>
<div class="who"> - You </div>
</div>

<p></p>

<div class = "answer-style">
<div class="answer"><%= @answer %></div>
<div class="who"> - Coach </div>
</div>



</div>
