<div class="ask-center" class="container">
<h1>Stupid Coaching</h1>
<h2> ~ ask a question</h2>

<form action="/answer" method = "get" class="form-center">
  <input type="text" name="question" placeholder="Ask a question" class="input">
  <p></p>
  <input type="submit" value="Ask Me!" class="btn">
</form>
</div>
